/* 
CONSOLE : a simple drupal theme
by jean-louis tande at xmatiere dot com
2006-11-25
*/

body {
  margin: 0;
  padding: 0 0 0 0;
  color: #00FF00;
  background-color: #000000;
  font: 80% Courier New;
  text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-size: 1.0em;
}

p {
  margin-top: 0.5em;
}
a {
  text-decoration: none;
}
a:link {
  color: #FF0000;
}
a:visited {
  color: #FF0000;
}
a:hover {
  color: #FFFFFF;
}



input {
  background-color: #000000;
  font: 100% Courier New;
  color: #FFFFFF;
  border: 1px solid #FF0000;
}

li.expanded {
  list-style-type: circle ;
  padding: 0.0em 0.0em 0 0;
  margin: 0;
  color: #FFFFFF;  
}
li.collapsed {
  list-style-type: disc;
  padding: 0.0em 0.0em 0 0;
  margin: 0;
  color: #FF0000;
}
li.leaf {
  list-style-type: square;
  padding: 0.0em 0.0em 0 0;
  margin: 0;
  color: #FF0000;
}

li a.active {
  color: #000;
}
td.menu-disabled {
  background: #550000;
}


pre {
  background-color: #000000;
  color: #00FF00;
  padding: 0.75em 1.5em;
  border: 1px solid #FF0000;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}

form {
  margin: 0;
  padding: 0;
}

hr {
  border: 1px dotted;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}

th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 1px solid #FF0000;
}
th.active img {
  display: inline;
}

tr.even, tr.odd {
  padding: 0.1em 0.6em;
}

tr.odd td 
{
  padding: 0.3em;
  background-color: #000000;
  border-bottom: 1px solid #00FF00;
}

tr.even td {
  padding: 0.3em;
  background-color: #003300;
  border-bottom: 1px solid #00FF00;
}

td.active {
  background-color: #550000;
}

/*
** Menu styles
*/
ul.menu {
  list-style: none;
  border: none;
  text-align: left;
  margin: 0 0 0 0.5em;
}
ul.menu li {
  margin: 0 0 0 0.5em;
}

/* Tab navigation */ 
ul.a {
 color: #FF00FF;
}
ul.primary {
  padding: 0 0 0 0em;
  margin: 0px;
  //border: none;
  background-color: #000000;
}
ul.primary li {
  display: inline;    
}
ul.primary li a {
  margin-right: 0.0em;
  color: #FF00FF;
}
ul.primary li.active a {
  color: #FF00FF;
  font-weight: bold;
}
ul.primary li a:hover {
  color: #FFFFFF;
}
ul.secondary {
  padding: 0 0 0 0;
  margin: 5px;
  color: #00FF00;
}
ul.secondary li {
  display: inline;
  color: #00FF00;
}
ul.secondary a {
  padding: 0;
}
ul.secondary a.active {
  color: #00FF00;
  font-weight: bold;
}

.block {
  text-align: normal;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}
.block .title {
  //margin: 0;
  //padding: 0 0 0.25em 1em;
}
.block-region {
 color: #FF00FF;
}


.comment .links {
  margin-bottom: 0em;
}

.leaf .active {
  color: #FFFFFF;
}
.expanded .active {
  color: #FFFFFF;
}

.title, .title a {
  color: #FFFFFF;
  margin: 0 0 0 0;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #00AA00;
}

.node {
  margin: 0em 0 0em 0;
  padding: 0em 0 0em 0;
  
}
.sticky {
  padding: .5em;
  background-color: #003300;
  border: solid 1px #FF0000;
}

.node .taxonomy {
  color: #999;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #00FF00;
  float: right;
  margin: 0.5em;
}


br.clear {
  clear: both;
  height: 0;
}
.container-inline div {
  display: inline;
}
.error {
  color: red;
  border-color: red;
}

.item-list .icon {
  color: #555;
  float: right;
  padding-left: 0.25em;
  clear: right;
}
.item-list .icon a {
  color: #000;
}
.item-list .icon a:hover {
  color: #000;
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
  list-style: disc;
}

.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-item input.error, .form-item textarea.error {
  border: 2px solid red;
}

.form-item .description {
  //font-size: 0.85em;
}
.form-item label {
  display: block;
  font-weight: bold;
}

.form-item label.checkbox {
  display: block;
  font-weight: bold;
}

.form-item label.option {
  display: inline;
  font-weight: normal;
}
/*
 .form-file input.file{
 background-color: #003300;
 border: 1px solid #FF77FF ;
}

#edit-upload form-input {
 font: Courier New;
 border: 1px solid #FF00FF ;
 background-color: #003300;
}
*/

.marker, .form-required {
  color: #f00;
  
}
.more-link {
  text-align: right;
}


.form-select {
 background-color: #000000;
 color: #FFFFFF;
 border: 1px solid #FF0000;
 font: 100% Courier New;
}


.form-checkbox {
 background-color: #000000;
 color: #FFFFFF;
 border: 1px solid #FF0000;
 font: 100% Courier New;
}

.node-form .form-text {
  display: block;
  width: 95%;
}

.node-form .form-text required {
  display: block;
  width: 95%;
}


.node-form .standard {
  clear: both;
}
.node-form textarea {
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

.nowrap {
  white-space: nowrap;
}
.ok {
  color: #080;
}
#pager {
  clear: both;
  text-align: center;
}
#pager a, #pager strong.pager-current {
  padding: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source .feed-title {
  margin-top: 0;
}
#aggregator .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#aggregator .feed-source .feed-icon {
  float: right;
  display: block;
}
#aggregator .feed-item {
  margin-bottom: 1.5em;
}
#aggregator .feed-item-title {
  margin-bottom: 0;
}
#aggregator .feed-item-meta, #aggregator .feed-item-body {
  margin-bottom: 0.5em;
}
#aggregator td {
  vertical-align: bottom;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}

.book-navigation .page-links {
  text-align: left;
  padding: 0em 0em 0em 0.5em;
}
.book-navigation .page-previous {
  text-align: right;
}
.book-navigation .page-up {
  margin: 0 4em;
}
.book-navigation .page-next {
  text-align: left;
}
.node-unpublished, .comment-unpublished {
  background-color: #fff4f4;
}
.preview .node, .preview .comment {
  background-color: #ffffea;
}
.archive {
  margin: 1em 0 1em 0;
}

/* Calandar */
.calendar .day-today {
  background-color: #005500;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #330000;
  color: #FF0000;
}
.calendar table {
  width: 100%;
}
.calendar td, .calendar th {
  text-align: center;
  border: 1px solid #000;
  padding: 1px;
}
/* -------------------------------------- */
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}
.forum-topic-navigation {
  text-align: center;
  padding: 0.5em;
}
.forum-topic-navigation .topic-previous {
  margin-right: 4em;
  text-align: right;
}
.forum-topic-navigation .topic-next {
  text-align: left;
}
.locale-untranslated {
  font-style: normal;
  text-decoration: line-through;
}
#node-admin-filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#node-admin-buttons {
  float: left;
  margin-left: 0.5em;
  clear: right;
}
td.revision-current {
  background: #ffc;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 8em;
}
dl.multiselect dt, dl.multiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0;
}
dl.multiselect .form-item {
  height: 1.75em;
  margin: 0;
}
#permissions td.module, #blocks td.region {
  font-weight: bold;
}
#permissions td.permission, #blocks td.block, #taxonomy td.term, #taxonomy td.message {
  padding-left: 1.5em;
}

#access-rules .access-type, #access-rules .rule-type {
  margin-right: 1em;
  float: left;
}
#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
  margin-top: 0;
}
#access-rules .mask {
  clear: both;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #003300;
  
}
.poll .bar .foreground {
  background-color: #00FF00;
  height: 1em;
  clear: left;
  float: left;
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right;
}
.poll .total {
  text-align: center;
}
.poll .vote-form .choices {
  display: table;
}

.profile {
  clear: both;
  margin: 1em 0 1em 0;

}
.profile .name {
  color: #ff0000;
  font-weight: bold;
}

.profile .picture {
  float: right;
  margin: 0 1em 1em 0;
}
.profile dt {
  margin: 1em 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin:0;
}

.node-form .poll-form fieldset {
  display: block;
}
img.screenshot {
  display: block;
}
.search-form {
  margin: 1em;
}

.search-advanced .criterion {
  float: left;
  margin-right: 2em;
}
.search-advanced .action {
  float: left;
  clear: left;
}

#tracker td.replies {
  text-align: center;
}
#tracker table {
  width: 100%;
}
.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}
.more-help-link {
  font-size: 0.85em;
  text-align: right;
}
table.watchdog-event th {
  border-bottom: 1px solid #00FF00;
}
tr.watchdog-user {
  color: #999900;
}

/*
** Help module
*/
.help-items {
  float: left;
  width: 22%;
  padding-right: 3%;
}
.help-items-last {
  padding-right: 0;
}

/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid #00FF00;
  overflow: hidden;
  background: #000000;
  color: #FFFFFF;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  color: #ffffff;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #003300;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background: url(/misc/throbber.gif) no-repeat 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}

/*
** Progressbar styles
*/
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #003300;
  border: 1px solid #00FF00;
  height: 1.5em;
  margin-top: 0.2em;
}
.progress .filled {
  background: #00FF00;
  height: 1em;
  border-bottom: 0.5em solid #00FF00;
  width: 0%;
}
.progress .percentage {
  float: right;
}

/*
** Collapsing fieldsets */

fieldset {
  border: 1px solid #FF0000;
  margin-bottom: 1em;
  padding: .5em;

}

html.js fieldset {
margin: 0.5em 0.0em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed table *,
html.js fieldset.collapsed legend,
html.js fieldset.collapsed legend * {
  display: inline; 
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsible legend a {
  display: block;
}

/*
** Resizable text areas
*/
.resizable-textarea {
  background: #000000;
  border: 1px solid #FF0000;
}
.resizable-textarea .grippie {
  height: 14px;
  background: #330000;
  cursor: s-resize;
}

/*
** Formatting for welcome page
*/
#first-time strong {
  display: block;
  padding: 1.5em 0 .5em;
}

/* ------------------------------------------------------------------------
   END OF DRUPAL.CSS FILE
  -------------------------------------------------------------------------*/
#header, #content {
  width: 100%;
}
/*
#header {
  //background-color: #000000;
}
*/
#logo {
  vertical-align: top;
}
#menu {
  text-align: right;
}
#primary {
  font-size: 1.0em;
  padding: 0.0em 1.0em 0.0em 0.0em;
  color: #00FF00;
}
#primary a {
  color: #fff;
}

#search .form-text, #search .form-submit {
  border: 1px solid #00FF00;
  //font-size: 1.0em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em 0 0.5em;
}


/* Site ---------------------------------   */
.site-name {
  margin: 0.0em 0em 0em 0em;
  padding: 0em;
  font-weight: bold;
}
.site-name a:link, .site-name a:visited {
  color: #FFFFFF;
}
.site-name a:hover {
  color: #FF0000;
}


#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding:  0 10px 0  10px;
}
#mission {
  padding: 1.0em 0.5em;
}
#help {
  margin-bottom: 1em;
}
.messages {
  background-color: #000000;
  border: 1px solid #FF0000;
  padding: 0.3em;
  margin-bottom: 1em;
}


/* User login --------------------------------- */
#user-login-form {
  text-align: left;
  margin: 1.0em;
  font: 100% Courier New;
}
#user-login-form li {
   margin: 0.2em;
}
/* ------------------------------------------ */
#sidebar-left, #sidebar-right {
  background-color: #000000;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px;
  vertical-align: top;
}
#footer {
  text-align: right;
  margin: 0 1.0em;
}


/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #000000;
  border: 1px solid #00FF00;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  //font-style: italic;
  //font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  //font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

#forum table {
  width: 100%;
}

#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}

.comment {
  border: 1px solid #00FF00;
  padding: .5em;
  margin-bottom: 1em;
}
/*
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}*/
.comment .picture {
  border: 1px solid #00FF00;
  float: right;
  margin: 0.5em;
}

